<div class="center jumbotron">
  <h1>Neptune</h1>
  <p>Welcome to item mgmt UI</p>
  <%= link_to "Sign up now", "#", class: "btn btn-primary mb1 white btn-sliver btn-lg btn-xlarge" %>
</div>


<%= link_to "Item Listing", items_path%>|<%= link_to "About", about_path %>